@font-face {
    font-family: 'BentonSansRegular';
    src: url('BentonSans-Regular_T.ttf');
}

body {
    font-family: 'BentonSansRegular', sans-serif;
}

.navbar{
    background-color: #990000 !important;
}


